In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [4]:
moviesdf = pd.read_csv('Clean_Movies_Data.csv')
moviesdf.head()

,Id,Title,Budget,Revenue,Original Language,Popularity,Production Countries,Production Companies,Genre 1,Genre 2,...,Status,Tagline,Vote Average,Vote Count,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,862,Toy Story,"$30,000,000.00","$373,554,033.00",en,21.946943,United States of America,Pixar Animation Studios,Animation,Comedy,...,Released,NaN,7.7,5415,NaN,NaN,NaN,NaN,NaN,NaN
1,8844,Jumanji,"$65,000,000.00","$262,797,249.00",en,17.015539,United States of America,TriStar Pictures,Adventure,Fantasy,...,Released,Roll the dice and unleash the excitement!,6.9,2413,NaN,NaN,NaN,NaN,NaN,NaN
2,31357,Waiting to Exhale,"$16,000,000.00","$81,452,156.00",en,3.859495,United States of America,Twentieth Century Fox Film Corporation,Comedy,Drama,...,Released,Friends are the people who let you be yourself...,6.1,34,NaN,NaN,NaN,NaN,NaN,NaN
3,949,Heat,"$60,000,000.00","$187,436,818.00",en,17.924927,United States of America,Regency Enterprises,Action,Crime,...,Released,A Los Angeles Crime Saga,7.7,1886,NaN,NaN,NaN,NaN,NaN,NaN
4,9091,Sudden Death,"$35,000,000.00","$64,350,171.00",en,5.231580,United States of America,Universal Pictures,Action,Adventure,...,Released,Terror goes into overtime.,5.5,174,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
duplicates = moviesdf[moviesdf.duplicated()] 

print(duplicates)

Empty DataFrame
Columns: [Id, Title,  Budget ,  Revenue , Original Language, Popularity, Production Countries, Production Companies, Genre 1, Genre 2, Genre 3, Genre 4, Release Date, Runtime, Status, Tagline, Vote Average, Vote Count, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [4]:
moviesdf.to_csv('cleaned_movies.csv')